<header>

<div class="navbar navbar-expand-sm navbar-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav mr-auto">
                        {% comment %} <li 
                        {% if request.path == '/' %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}>
                            <a  href=index class="nav-link">Şifreleyici</a>
                        </li> {% endcomment %}
                        <li
                            {% if 'about' in request.path %}
                                class="nav-item active"
                            {% else %}
                                class="nav-item"
                            {% endif %}>
                            <a  href=about class="nav-link">Hakkımızda</a>
                        </li>
                        <li
                            {% if 'hatabildir' in request.path %}
                                class="nav-item active"
                            {% else %}
                                class="nav-item"
                            {% endif %} >
                            <a  href=classhata class="nav-link">Hata Bildir</a>
                        </li>
                    </ul>
                                            Ar-Fi Şifreleyecisi

                </div>
    </div> 

</header>